@font-face {
  font-family: "Poppins-Bold";
  src: url("../fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Poppins-BoldItalic";
  src: url("../fonts/Poppins-BoldItalic.ttf");
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins-ExtraBoldItalic";
  src: url("../fonts/Poppins-ExtraBoldItalic.ttf");
}
:root {
  --Purple: hsl(259, 100%, 65%);
  --Light-red: hsl(0, 100%, 67%);
  --White: hsl(0, 0%, 100%);
  --Off-white: hsl(0, 0%, 94%);
  --Light-grey: hsl(0, 0%, 86%);
  --Smokey-grey: hsl(0, 1%, 44%);
  --Off-black: hsl(0, 0%, 8%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: "Poppins-Regular";
}
body {
  background-color: var(--Off-white);
  padding: 0 1rem;
}
main {
  background-color: var(--White);
  border-radius: 2rem 2rem 6rem 2rem;
  margin: 5.3125rem 0 14.6875rem 0;
  padding: 3.3125rem 1.5625rem 3.75rem 1.5625rem;
}
.container {
  display: flex;
}
.container:nth-of-type(1) {
  gap: 1rem;
}
.container:nth-of-type(2) {
  height: auto;
  justify-content: center;
  margin-top: 2rem;
  position: relative;
  width: 100%;
}
hr {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 1px;
  border: 1px solid var(--Off-white);
}
.form-wrapper {
  flex: 1;
}

.form-wrapper-invalid label,
.form-wrapper-invalid .input-error {
  color: var(--Light-red);
}

label {
  color: var(--Smokey-grey);
  font-family: "Poppins-Bold";
  letter-spacing: 0.2rem;
  font-size: 0.625rem;
}
input {
  border: none;
  border-radius: 0.3125rem;
  font-family: "Poppins-Bold";
  font-size: clamp(0.8rem, 4vw, 2.5rem);
  margin-top: 0.625rem;
  outline: 1px solid var(--Light-grey);
  padding: 1rem;
  width: 100%;
  transition: outline 0.2s ease-in-out;
}
input:hover,
input:focus {
  outline-color: var(--Purple);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input::placeholder {
  color: var(--Light-grey);
}
button {
  position: relative;
  color: transparent;
  width: 4.0625rem;
  height: 4.0625rem;
  border-radius: 50%;
  border: none;
  background-color: var(--Purple);
  z-index: 2;
  outline: 1px solid var(--Purple);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
button img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
button:focus {
  outline-color: transparent;
  outline-offset: 2rem;
}
button:hover {
  background-color: var(--Off-black);
  outline-color: transparent;
}
ul {
  margin-top: 2.5rem;
}
.date-result {
  display: flex;
  align-items: center;
  list-style: none;
  height: 3.4375rem;
}
.date-result > span,
.date-result > div {
  display: inline-block;
  height: 100%;
  font-size: 3rem;
  font-family: "Poppins-ExtraBoldItalic";
}
.date-result > div {
  overflow: hidden;
  color: var(--Purple);
}
.date-result div span {
  display: block;
  height: 100%;
  transition: all 10ms ease-in-out;
}
@media screen and (min-width: 900px) {
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main {
    max-width: 52.8125rem;
    margin: 0;
    padding: 3.4375rem;
  }

  .container:nth-of-type(1) {
    width: 34.0625rem;
  }
  .container:nth-of-type(2) {
    justify-content: flex-end;
    width: 45.625rem;
  }
  button {
    height: 6.0625rem;
    width: 6.0625rem;
  }
  ul {
    margin: 0;
  }
  .date-result {
    height: 4.3375rem;
  }
  .date-result > span,
  .date-result > div {
    font-size: 3.75rem;
  }
}
